html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	height: -webkit-fill-available;
	box-sizing: border-box;
	background-color: white;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	font-family:
		IBM Plex Mono,
		Noto Sans Mono Variable,
		Noto Sans Mono,
		monospace;
}
